.App {
    text-align: center;
    display: flex;
    height: 1000px;
    width: 1500px;
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

.district {
    fill: transparent;
    stroke: black;
    transition: 2s linear;
}

.district:hover {
    animation: colorswitch 5s linear infinite alternate;
    stroke-width: 5;
}

.district-select {
    fill: rgba(255, 0, 0, 0.4);
    stroke: rgb(196, 34, 34);
    transition: 2s linear;
}

.region {
    fill: transparent;
    stroke: blueviolet;
}

.svg {
    border: 1px solid;
}

@keyframes colorswitch {
    0% {
      fill: red;
      stroke: red;
    }
    15% {
      fill: orange;
      stroke: orange;
    }
    30% {
      fill: yellow;
      stroke: yellow;
    }
    45% {
      fill: green;
      stroke: green;
    }
    60% {
      fill: aqua;
      stroke: aqua;
    }
    75% {
      fill: blue;
      stroke: blue;
    }
    90% {
      fill: purple;
      stroke: purple;
    }
    100% {
      fill: magenta;
      stroke: magenta;
    }
  }