.App {
    text-align: center;
    display: flex;
    height: 1000px;
    width: 1500px;
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

.district {
    fill: transparent;
    stroke: black;
    /* stroke-dasharray: 10;
  animation: dash 5s linear infinite;
  transition: 1s ease-in-out; */
}

.region {
    fill: transparent;
    stroke: blueviolet;
}

.svg {
    border: 1px solid;
}