.App {
    text-align: center;
    display: flex;
    height: 1000px;
    width: 1500px;
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

.district {
    fill: transparent;
    stroke: black;
}

.district:hover {
    fill: rgba(255, 0, 0, 1);
}

.district-select {
    fill: rgba(255, 0, 0, 0.4);
    stroke: red;
    stroke-width: 5;
}

.region {
    fill: transparent;
    stroke: blueviolet;
}

.svg {
    border: 1px solid;
}