.App {
  text-align: center;
}

.earth1 {
  margin: auto;
  width: 100%;
}

.earth {
  display: block;
  border: 1px solid black;
  
  /*position: absolute;
  
  top: 200;*/

  width: 808px;
  height: 808px;
  padding: 4px;
  stroke: #000;
  stroke-width: 1;
  fill: none;

  transition: 1s ease;

  margin: 0 auto
}


.app-wrapper {
  transform: perspective(300px) rotateX(15deg);
}

/* .district {
fill: #c9c9c9;
} */

.district{
fill: #4D9B84;
transition: 1s;
transition-timing-function: ease;
}

/* .district{
     -webkit-filter: drop-shadow( 3px 3px 2px rgba(0, 0, 0, .4));
  filter: drop-shadow( 3px 3px 2px rgba(0, 0, 0, .4));
} */

.district:hover {
   transform: translate(-8px, -8px);
}

.pointsList polygon{
  fill: url(#MyGradient);
}

.pointsList {
  transform: translate(-8px, -8px);
  -webkit-filter: drop-shadow( 3px 3px 2px rgba(0, 0, 0, .4));
  filter: drop-shadow( 3px 3px 2px rgba(0, 0, 0, .4));
}

/* 
.points {
  transform: translate(300px, 300px);
} */

.btn {
  width: 700px;
  margin: 50px auto;
  display: flex;
  justify-content: space-between;
}

.btn button {
  height: 50px;
}

.region {
  fill: white;
  stroke: black;
}

.country {
  fill: white;
  stroke: black;
  stroke-width: 3px;
  transition: 1s ease;
}

.country:hover {
  fill: red;
}
